.mat-tree {
    margin-right: 50px;
    background-color: rgb(0,99,56);
}


.mat-button {
    background-color: rgb(0, 99, 56);
  color: white;
}

.mat-icon-button {
    background-color: rgb(0, 99, 56);
  color: white;
}


.mat-tree-node {
    padding-left: 10px;
}