.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.mat-sidenav {
  margin-right: 50px;
  background-color: rgb(0, 99, 56);
  color: white;
}

.mat-sidenav-container {
  background-color: white;
}

.mat-button {
    background-color: rgb(0, 99, 56);
  color: white;
}

.mat-icon-button {
    background-color: rgb(0, 99, 56);
  color: white;
}